<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Данные изображения</title>
</head>
<body>
  <h1>Width: {{ parcel.width }}</h1>
  <h1>Height: {{ parcel.height }}</h1>
  <canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['По высоте', 'По ширине'],
      datasets: [{
        label: 'Пиксели изображения',
        data: [{{ parcel.width }}, {{ parcel.height }}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</body>
</html>